/* Browser reset & Basic styling [Don't ruin this] */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
strike{text-decoration: line-through;}
strong{font-weight: bold;}
ol, ul {
  list-style: none;
}
*, *:before, *:after {box-sizing:  border-box !important;}
body{
	line-height: 1.5;
	margin: auto;
	float: none;
	font-family: Arial,sans-serif;
	font-weight: lighter;
}
img{
	max-width: 100%;
    max-height: 100%;
	border-radius: 1px;
}
a {
   outline: 0;
}

/* Code your CSS here */
/* Like here */
/* Right here */
nav{
	background: #006266;
	padding: 15px 30px;
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
}
nav p, nav ul{
	flex: 1;
}
nav p{
	font-size: 24px;
	color: white;
}
nav ul{
	text-align: right;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	color: white;
	padding: 5px 10px;
	border-radius: 3px;
	margin: 0 2.5px;
	transition: all 300ms;
}
nav ul li a:hover{
	background: white;
	color: #006266;
}
header{
	background: #006266;
	text-align: center;
	padding: 150px 0;
	color: white;
}
header h1, header h2{
	font-weight: lighter;
}
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 15px;
}
.col{
	flex: 1;
	padding: 0 15px;
	text-align: center;
}
footer{
	background: #006266;
	text-align: center;
	padding: 15px 0;
	color: white;
}


/* And here */
@media screen and (max-width: 992px) {
	/* Here */
	.col{flex: 50%;padding: 15px;}
}
@media screen and (max-width: 768px) {
	/* And here to be specific */
	.col{flex: 100%;padding: 15px;}
}